# MANAGED BY PUPPET - MANUAL CHANGES TO THIS FILE MAY BE OVERWRITTEN
# netdata configuration for aggregating data from remote hosts
[stream]
    enabled = <%= @stream_enabled %>
    destination = <%= scope['netdata::stream_destination'] %>
    api key = <%= scope['netdata::stream_api_key'] %>
    timeout seconds = <%= scope['netdata::stream_timeout'] %>
    default port = <%= scope['netdata::stream_default_port'] %>
    buffer size bytes = <%= scope['netdata::stream_buffer_size_bytes'] %>
    reconnect delay seconds = <%= scope['netdata::stream_reconnect_delay'] %>
    initial clock resync iterations = <%= scope['netdata::stream_initial_clock_resync'] %>

<% scope['netdata::stream_options_per_id'].each do |id, keys| -%>
[<%= id %>]
<% keys.each do |key, value| -%>
    <%= key %> = <%= value %>
<% end -%>
<% end -%>
